@charset "UTF-8";
/* MAPAS */
/* EXTEND */
/* % = placeholder */
.volver-arriba, .index-items .texto-items, .foto-bannerprincipal .titulo2, .titulo-principal {
  text-align: center;
}

.piedepagina-contenedor .navegador-pie .conector, .titulo-principal .titulo1 {
  text-decoration: none;
}

/* HEADERS-NAV Y TITULOS INDEX Y PAGES*/
.titulo-principal {
  background-color: black;
  width: auto;
  height: 5rem;
  padding: 1rem;
  /* titutlo princilpal*/
}
.titulo-principal .titulo1 {
  color: white;
  height: 5rem;
  letter-spacing: 1rem;
  font-size: 3rem;
  /* Ajustes navegador */
}

.nav-item {
  padding-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

/* BANNER PRINCIPAL Y CONFIG */
.foto-bannerprincipal {
  width: 100%;
  height: auto;
  background-color: white;
  /* titulo secundario*/
}
.foto-bannerprincipal .titulo2 {
  padding-top: 10px;
  letter-spacing: 10px;
  color: black;
  font-size: 50px;
}

/* MAPAS */
/* EXTEND */
/* % = placeholder */
.volver-arriba, .index-items .texto-items, .titulo-principal, .foto-bannerprincipal .titulo2 {
  text-align: center;
}

.piedepagina-contenedor .navegador-pie .conector, .titulo-principal .titulo1 {
  text-decoration: none;
}

/* SECTION PIRNCIPAL - INDEX */
.index-items {
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  text-align: left;
  width: auto;
  border-radius: 10px;
}
.index-items .texto-items {
  padding-top: 20px;
  padding: 5px;
  display: block;
  text-align: left;
  color: #7e7474;
  letter-spacing: 0.5rem;
  text-decoration: none;
}

/* MAPAS */
/* EXTEND */
/* % = placeholder */
.volver-arriba, .titulo-principal, .foto-bannerprincipal .titulo2, .index-items .texto-items {
  text-align: center;
}

.piedepagina-contenedor .navegador-pie .conector, .titulo-principal .titulo1 {
  text-decoration: none;
}

/* Mixins */
/* PIE DE PAGINA GENERAÑ */
.piedepagina-contenedor {
  display: grid;
  grid-template-areas: "navegador logo mapa mapa mapa";
  padding: 20px;
  background-color: black;
  grid-area: footer;
}
.piedepagina-contenedor .navegador-pie {
  grid-area: navegador;
  display: block;
}
.piedepagina-contenedor .navegador-pie .conector {
  text-align: left;
  font-size: 20px;
  letter-spacing: 0.5rem;
  color: white;
  text-decoration: underline 2px rgba(25, 25, 167, 0.589);
}

.navegador-piedepagina {
  padding: 5px;
  height: auto;
  font-size: 20px;
  letter-spacing: 0.5rem;
  color: white;
  text-decoration: underline 2px rgba(25, 25, 167, 0.589);
}

.logopie {
  grid-area: logo;
  width: 40%;
}

/* MAPA UBICACIÓN */
.mapa-pie {
  grid-area: mapa;
  color: white;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: space-around;
  text-decoration: underline 2px rgba(25, 25, 167, 0.589);
  padding-left: 20px;
  border-left: solid #7e7474 1px;
}

/* VOLVER ARRIBA PIE DE PAGINA*/
.volver-arriba {
  width: 100%;
  background-color: rgba(25, 25, 167, 0.959);
}
.volver-arriba .textva {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  letter-spacing: 2rem;
}

/* RESETEO INICIAL Y CONFIGURACION GENERAL DE LA PAGIBNA */
* {
  margin: 0;
  padding: 0;
  /*Estilo de letra descargada y linkiada*/
  font-family: "Bebas Neue", cursive;
  font-display: swap;
}

body {
  overflow-x: hidden;
}
body header {
  background-color: black;
}

.container {
  padding: 2%;
}

/* HOVER PAGES */
/* hover titulo principal*/
.titulo-principal:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  background-color: black;
}

/* hover imagenes*/
.index-items:hover .img-fluid {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* CONFIGURACION RESPONSIVE MOBIL */
@media (max-width: 450px) {
  body {
    width: auto;
    overflow-x: hidden;
  }

  .container {
    padding: 1rem;
  }

  /* pie de pagina */
  .piedepagina-contenedor {
    display: grid;
    height: auto;
    width: auto;
    height: auto;
    grid-template-areas: "navegador" "mapa";
  }

  /* Navegador del pie de pagina contenedor*/
  .navegador-pie {
    grid-area: navegador;
    width: auto;
    display: block;
  }

  /* mapa del pie de pagina*/
  .mapa-pie {
    width: auto;
    display: block;
    grid-area: mapa;
    color: white;
    padding-top: 2rem;
    padding-left: 20px;
    border-left: none;
    border-top: solid #7e7474 1px;
  }

  /* logo del pie de pagina*/
  .logopie {
    display: none;
  }

  /* seccion volver arriba*/
  .volver-arriba {
    width: auto;
    height: auto;
  }
}
/*------------------------------------------------*/
/*------------------------------------------------*/
@media (min-width: 451px) and (max-width: 960px) {
  body {
    width: auto;
    overflow-x: hidden;
  }

  .container {
    padding: 1rem;
  }

  .img-fluid {
    width: 300px;
  }

  /* pie de pagina */
  .piedepagina-contenedor {
    display: grid;
    height: auto;
    width: auto;
    height: auto;
    grid-template-areas: "navegador" "mapa";
  }

  /* Navegador del pie de pagina contenedor*/
  .navegador-pie {
    grid-area: navegador;
    width: auto;
    display: block;
  }

  /* contenido de pie de pagina*/
  .navegador-piedepagina {
    width: auto;
    height: auto;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: white;
  }

  /* mapa del pie de pagina*/
  .mapa-pie {
    width: auto;
    display: block;
    grid-area: mapa;
    color: white;
    padding-top: 2rem;
    padding-left: 20px;
    border-left: none;
    border-top: solid #7e7474 1px;
  }

  /* logo del pie de pagina*/
  .logopie {
    display: block;
  }

  /* seccion volver arriba*/
  .volver-arriba {
    width: auto;
    height: auto;
  }
}
/* CONFIGURACION DE IMAGENES PAGES */
/* Efecto de imagenes */
.img-fluid {
  -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
}

/* config logo pie de pagina */
.logo-pie {
  width: 200px;
  height: auto;
}

/* MAPAS */
/* Mixins */
/* EXTEND */
/* % = placeholder */
.titulo-principal, .foto-bannerprincipal .titulo2, .index-items .texto-items, .volver-arriba {
  text-align: center;
}

.titulo-principal .titulo1, .piedepagina-contenedor .navegador-pie .conector {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
