@charset "UTF-8";
/* MAPAS */
/* EXTEND */
/* % = placeholder */
.volver-arriba, .index-items .texto-items, .foto-bannerprincipal .titulo2, .titulo-principal, .preheader {
  text-align: center;
}

.titulo-principal .titulo1 {
  text-decoration: none;
}

/* PREHEADER */
.preheader {
  width: 100%;
  background-color: rgba(25, 25, 167, 0.959);
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  position: fixed;
}

/* HEADERS-NAV Y TITULOS INDEX Y PAGES*/
.titulo-principal {
  background-color: black;
  width: auto;
  height: 5rem;
  padding-top: 2rem;
  /* titutlo princilpal*/
}
.titulo-principal .titulo1 {
  color: white;
  height: 5rem;
  letter-spacing: 1rem;
  font-size: 3rem;
  /* Ajustes navegador */
}

.nav-item {
  padding-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

/* BANNER PRINCIPAL Y CONFIG */
.foto-bannerprincipal {
  width: 100%;
  height: auto;
  background-color: white;
  /* titulo secundario*/
}
.foto-bannerprincipal .titulo2 {
  padding-top: 10px;
  letter-spacing: 10px;
  color: black;
  font-size: 50px;
}

/* VIDEO BANNER*/
.video-banner {
  height: 25rem;
  width: 100%;
}

/* MAPAS */
/* EXTEND */
/* % = placeholder */
.volver-arriba, .index-items .texto-items, .preheader, .titulo-principal, .foto-bannerprincipal .titulo2 {
  text-align: center;
}

.titulo-principal .titulo1 {
  text-decoration: none;
}

/* SECTION PIRNCIPAL - INDEX */
.index-items {
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  text-align: left;
  width: auto;
  border-radius: 10px;
}
.index-items .texto-items {
  padding-top: 20px;
  padding: 5px;
  display: block;
  text-align: left;
  color: #7e7474;
  letter-spacing: 0.5rem;
  text-decoration: none;
}

/*******  SECTIONS PRODUCTOS *******/
/*******  SECTIONS PRODUCTOS *******/
/* grid 3x3 para producto */
.foto-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 1rem;
}

.contenido-items {
  text-align: center;
  width: auto;
  height: 500px;
  padding: 1rem;
  letter-spacing: 1px;
  font-size: 15px;
  -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
}

.img-thumbnail {
  height: 70%;
  width: auto;
}

/* TEXTO GENERAL DE LAS PAGES */
.texto-items {
  padding-top: 20px;
  display: block;
  text-align: left;
  color: #7e7474;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-align: center;
}

/* Sección principal pages con productos - texto de cada prodcuto*/
.texto-banner {
  padding-top: 20px;
  display: block;
  text-align: left;
  color: #7e7474;
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-align: center;
  position: relative;
}

/* TEXTO SECCIONES TEXTO AMPLIO  */
.texto-largo {
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  text-align: center;
  color: #7e7474;
  letter-spacing: 0.2rem;
  text-decoration: none;
  font-size: 2rem;
}

.carousel-inner {
  height: 30rem;
  border-radius: 20px;
  align-content: center;
  background-color: black;
  box-shadow: 2px 3px 17px black;
}

/* MAPAS */
/* EXTEND */
/* % = placeholder */
.volver-arriba, .preheader, .titulo-principal, .foto-bannerprincipal .titulo2, .index-items .texto-items {
  text-align: center;
}

.titulo-principal .titulo1 {
  text-decoration: none;
}

/* Mixins */
/* PIE DE PAGINA GENERAÑ */
.piedepagina-contenedor {
  display: grid;
  grid-template-areas: "navegador logo mapa mapa mapa";
  padding: 20px;
  background-color: black;
  grid-area: footer;
}
.piedepagina-contenedor .navegador-pie {
  grid-area: navegador;
  display: block;
}

.navegador-piedepagina {
  padding: 5px;
  height: auto;
  font-size: 20px;
  letter-spacing: 0.5rem;
  color: white;
  text-decoration: underline 2px rgba(25, 25, 167, 0.589);
}
.navegador-piedepagina .conector {
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0.5rem;
  color: white;
  text-decoration: underline 2px rgba(25, 25, 167, 0.589);
}

.logopie {
  grid-area: logo;
  width: 60%;
}

/* MAPA UBICACIÓN */
.mapa-pie {
  grid-area: mapa;
  color: white;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: space-around;
  text-decoration: underline 2px rgba(25, 25, 167, 0.589);
  padding-left: 20px;
  border-left: solid #7e7474 1px;
}

/* VOLVER ARRIBA PIE DE PAGINA*/
.volver-arriba {
  width: 100%;
  background-color: rgba(25, 25, 167, 0.959);
}
.volver-arriba .textva {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  letter-spacing: 2rem;
}

/* RESETEO INICIAL Y CONFIGURACION GENERAL DE LA PAGIBNA */
* {
  margin: 0;
  padding: 0;
  /*Estilo de letra descargada y linkiada*/
  font-family: "Bebas Neue", cursive;
  font-display: swap;
}

body {
  overflow-x: hidden;
}
body header {
  background-color: black;
}

.container {
  padding: 2%;
}

.disclaimer {
  display: none;
}

/* HOVER PAGES */
/* hover titulo principal*/
.titulo-principal:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* hover imagenes*/
.index-items:hover .img-fluid {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.preheader:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  background-color: rgba(25, 25, 167, 0.959);
  padding-top: 0.5rem;
}

/* CONFIGURACION RESPONSIVE MOBIL */
@media (max-width: 450px) {
  body {
    width: auto;
    overflow-x: hidden;
  }

  .container {
    padding: 1rem;
  }

  /* titutlo principal */
  .titulo-principal {
    background-color: black;
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 2rem;
    font-size: 0.5rem;
  }
  .titulo-principal .titulo1 {
    color: white;
    height: auto;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    padding-top: 5rem;
  }

  /* pie de pagina */
  .piedepagina-contenedor {
    display: grid;
    height: auto;
    width: auto;
    height: auto;
    grid-template-areas: "navegador" "mapa";
  }

  /* Navegador del pie de pagina contenedor*/
  .navegador-pie {
    grid-area: navegador;
    width: auto;
    display: block;
  }

  /*Contendor de imagenes producto*/
  .foto-contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 20px;
  }

  /* mapa del pie de pagina*/
  .mapa-pie {
    width: auto;
    display: block;
    grid-area: mapa;
    color: white;
    padding-top: 2rem;
    padding-left: 20px;
    border-left: none;
    border-top: solid #7e7474 1px;
  }

  /* logo del pie de pagina*/
  .logopie {
    display: none;
  }

  /* seccion volver arriba*/
  .volver-arriba {
    width: auto;
    height: auto;
  }
}
/*------------------------------------------------*/
/*------------------------------------------------*/
@media (min-width: 451px) and (max-width: 1200px) {
  body {
    width: auto;
    overflow-x: hidden;
  }

  .container {
    padding: 1rem;
  }

  .img-fluid {
    width: 300px;
  }

  /* pie de pagina */
  .piedepagina-contenedor {
    display: grid;
    height: auto;
    width: auto;
    height: auto;
    grid-template-areas: "navegador" "mapa";
  }

  /* Navegador del pie de pagina contenedor*/
  .navegador-pie {
    grid-area: navegador;
    width: auto;
    display: block;
  }

  /* contenido de pie de pagina*/
  .navegador-piedepagina {
    width: auto;
    height: auto;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: white;
  }

  /* mapa del pie de pagina*/
  .mapa-pie {
    width: auto;
    display: block;
    grid-area: mapa;
    color: white;
    padding-top: 2rem;
    padding-left: 20px;
    border-left: none;
    border-top: solid #7e7474 1px;
  }

  /* logo del pie de pagina*/
  .logopie {
    display: none;
  }

  /* seccion volver arriba*/
  .volver-arriba {
    width: auto;
    height: auto;
  }
}
/* CONFIGURACION DE IMAGENES PAGES */
/* Efecto de imagenes */
.img-fluid {
  -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
}

/* config logo pie de pagina */
.logo-pie {
  width: 200px;
  height: auto;
}

/* MAPAS */
/* Mixins */
/* EXTEND */
/* % = placeholder */
.preheader, .titulo-principal, .foto-bannerprincipal .titulo2, .index-items .texto-items, .volver-arriba {
  text-align: center;
}

.titulo-principal .titulo1 {
  text-decoration: none;
}

/*CONTENEDOR BOTON */
.boton-whatsapp {
  bottom: 2%;
  z-index: 20;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
}

/* EDICIÓN BOTON */
.boton-flotante {
  display: flex;
  align-items: center;
  border-radius: 50px;
  align-content: center;
  justify-content: center;
  background-color: white;
  box-shadow: 2px 3px 17px #000;
  width: 13rem;
  height: 2.2rem;
  padding: 1px 1px;
}

/* TAMAÑO ICONO */
.size-whatsapp {
  width: 28px;
  margin-right: 12px;
}

/* TEXTO BOTON*/
.text-whatsapp {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  padding-top: 17px;
  color: #7e7474;
  text-decoration: underline #7e7474;
}

/*# sourceMappingURL=style.css.map */
