/* Reseteo y configuración general de la pagina*/

* {
    margin: 0;
    padding: 0;
    /*Estilo de letra descargada y linkiada*/
    font-family: 'Bebas Neue', cursive;

}

/* Diseño del encabezado y menú*/

body {
    overflow-x: hidden;
}

header {
    background-color: black;
}

.container {
    padding: 2%;
}


.titulo-principal {
    background-color: black;
    text-align: center;
    width: auto;
    height: 5rem;
    padding: 1rem;
}

/* titulo principal*/

.titulo1 {
    text-decoration: none;
    color: white;
    height: 5rem;
    letter-spacing: 1rem;
    font-size: 3rem;
}

.titulo-principal:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: black;

}

/* Navegador principal */
.nav-item {
    padding-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

/* Banner principal index*/

.foto-bannerprincipal {
    width: 100%;
    height: auto;
    background-color: white;
}

/*      subtitulos     */

.titulo2 {
    padding-top: 10px;
    text-align: center;
    letter-spacing: 10px;
    color: black;
    font-size: 50px;
}

/*Sección principal index principal*/

.index-items {
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    text-align: left;

    width: auto;
    border-radius: 10px;
}

/*Sección principal pages con configuracion*/
.index-items-foryou {
    letter-spacing: 0.5px;
    font-size: 1rem;
    text-align: left;
    border: solid 1px gray;
    width: 500px;
    border-radius: 10px;
}

.index-items:hover .img-fluid {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.img-fluid {
    -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);

}

/* Sección principal pages con productos*/

.foto-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.contenido-items {
    text-align: center;
    width: auto;
    padding: 1rem;
    letter-spacing: 1px;
    font-size: 15px;
    -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
}

/* Sección principal pages con productos - texto de cada prodcuto*/

.texto-items {
    padding-top: 20px;
    padding: 5px;
    display: block;
    text-align: left;
    color: #7e7474;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-align: center;
}

/* Pie de Pagina general*/

.piedepagina-contenedor {
    display: grid;
    grid-template-areas: "navegador logo mapa mapa mapa";
    padding: 20px;
    background-color: black;
    grid-area: footer;
}

/* Pie de Pagin- contenidos*/

.navegador-pie {
    grid-area: navegador;
    display: block;

}

/*     Navegador del pie de pagina - Items */

.navegador-piedepagina {
    padding: 5px;
    height: auto;
    font-size: 20px;
    letter-spacing: 0.5rem;
    color: white;
    text-decoration: underline 2px rgba(25, 25, 167, 0.589);
}

/*     Negador del pie de pagina - Item link special deals */
.conector {
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.5rem;
    color: white;
    text-decoration: underline 2px rgba(25, 25, 167, 0.589);
}


/*mapa pie de pagina*/

.mapa-pie {
    grid-area: mapa;
    color: white;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: space-around;
    text-decoration: underline 2px rgba(25, 25, 167, 0.589);
    padding-left: 20px;
    border-left: solid #7e7474 1px;
}

/*logo pie de pagina*/

.logopie {
    grid-area: logo;
    width: 40%;
}

/*logo pie de pagina imagen */
.logo-pie {
    width: 200px;
    height: auto;
}

/*Boton volver Aarriba*/

.volver-arriba {

    width: 100%;
    text-align: center;
    background-color: rgba(25, 25, 167, 0.959);
}

/*texto volver arriba*/

.textva {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    letter-spacing: 2rem;
}

/** Configuración texto de seccion special deals**/

.seccion2-specialdeals {
    border-left: solid 1px #948a8a86;
    padding-left: 2rem;
}

/** Configuraciónsubtitulo de seccion special deals**/
.subtitulos-h3 {
    text-align: left;
    color: #7e7474;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-align: center;
}

/** Configuración texto de textos special deals**/

.speciald {
    line-height: 1.5rem;
    font-size: 0.8rem;
    padding-top: 20px;
    display: block;
    text-align: left;
    color: #7e7474;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-align: left;
}

/* responsive a celular */
@media (max-width:450px) {
    body {
        width: auto;
        overflow-x: hidden;
    }

    .h1 {
        text-decoration: none;
        color: white;
        height: 5rem;
        letter-spacing: 1rem;
        font-size: 2rem;

    }

    /* tituto principal */
    .titulo-principal {
        background-color: black;
        text-align: center;
        width: auto;
        height: 1rem;
        padding: 2rem;
        overflow: hidden;
    }

    /* titulo secundario */
    .h2 {
        padding: 1rem;
        width: auto;
        text-align: center;
        letter-spacing: 10px;
        color: black;
        font-size: 2rem;
    }

    /*Contenendor de imagenes index*/
    .foto-index-contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        padding: 20px;
    }


    /*------------------*/


    /*Contendor de imagenes producto*/
    .foto-contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        padding: 20px;
    }

    /* contenido de index*/
    .contenido-index-items {
        text-align: center;
        padding: 1rem;
        width: auto;
        letter-spacing: 1px;
        font-size: 15px;
    }

    .img-fluid {
        width: 300px;
    }

    /* pie de pagina */
    .piedepagina-contenedor {
        display: grid;
        height: auto;
        width: auto;
        height: auto;
        grid-template-areas: "navegador"
            "mapa";
    }

    /* Navegador del pie de pagina contenedor*/
    .navegador-pie {
        grid-area: navegador;
        width: auto;
        display: block;

    }

    /* contenido de pie de pagina*/
    .navegador-piedepagina {
        width: none;
        height: auto;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        color: white;
    }

    /* mapa del pie de pagina*/
    .mapa-pie {
        width: auto;
        display: block;
        grid-area: mapa;
        color: white;
        padding-top: 2rem;
        padding-left: 20px;
        border-left: none;
        border-top: solid #7e7474 1px;
    }

    /* logo del pie de pagina*/
    .logopie {
        display: none;
    }

    /* seccion volver arriba*/
    .volver-arriba {
        width: auto;
        height: auto;
    }

    /*  Layaout y config page speial deals */

    .contenedor-seccion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: white;
        padding: 0.5rem;
    }
}


@media (min-width:451px) and (max-width:960px) {
    body {
        width: auto;
    }

    /* tituto principal */

    .h1 {
        text-decoration: none;
        color: white;
        height: 5rem;
        letter-spacing: 1rem;
        font-size: 3rem;

    }

    /* titulo secundario */
    .h2 {
        padding: 1rem;
        width: auto;
        text-align: center;
        letter-spacing: 10px;
        color: black;
        font-size: 2rem;
    }

    /*Contenendor de imagenes index*/
    .foto-index-contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        padding: 20px;
    }

    /*------------------*/

    /*Contendor de imagenes producto*/
    .foto-contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        padding: 20px;
    }

    /* contenido de index*/
    .index-items {
        text-align: center;
        padding: 10px;
        width: auto;
        letter-spacing: 0.5rem;
        font-size: 1rem;
    }

    .img-fluid {
        width: 200px;
    }

    /* pie de pagina */
    .piedepagina-contenedor {
        display: grid;
        height: auto;
        width: auto;
        height: auto;
        grid-template-areas: "navegador"
            "mapa";
    }

    /* Navegador del pie de pagina contenedor*/
    .navegador-pie {
        grid-area: navegador;
        width: auto;
        display: block;

    }

    /* contenido de pie de pagina*/
    .navegador-piedepagina {
        width: auto;
        height: auto;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        color: white;
    }

    /* mapa del pie de pagina*/
    .mapa-pie {
        width: auto;
        display: block;
        grid-area: mapa;
        color: white;
        padding-top: 2rem;
        padding-left: 20px;
        border-left: none;
        border-top: solid #7e7474 1px;
    }

    /* logo del pie de pagina*/
    .logopie {
        display: none;
    }

    /* seccion volver arriba*/
    .volver-arriba {
        width: auto;
        height: auto;
    }

}