@import '../base/mapa';
@import '../base/extend';

/* HEADERS-NAV Y TITULOS INDEX Y PAGES*/

.titulo-principal {
    background-color: map-get($tituloprincipal, background-color);
    @extend %center;
    width: auto;
    height: 5rem;
    padding: 1rem;

    /* titutlo princilpal*/
    .titulo1 {
        @extend %none;
        color: map-get($tituloprincipal, color);
        height: 5rem;
        letter-spacing: 1rem;
        font-size: 3rem;

        /* Ajustes navegador */

    }
}

.nav-item {
    padding-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}


/* BANNER PRINCIPAL Y CONFIG */

.foto-bannerprincipal {
    width: 100%;
    height: auto;
    background-color: white;


    /* titulo secundario*/
    .titulo2 {
        padding-top: 10px;
        @extend %center;
        letter-spacing: 10px;
        color: black;
        font-size: 50px;

    }
}