/* HOVER PAGES */

/* hover titulo principal*/

.titulo-principal:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* hover imagenes*/

.index-items:hover .img-fluid {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}


.preheader:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: rgba(25, 25, 167, 0.959);
    padding-top: 0.5rem;
}