/* HOVER PAGES */

/* hover titulo principal*/

.titulo-principal:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: black;
}

/* hover imagenes*/

.index-items:hover .img-fluid {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}