/* CONFIGURACION DE IMAGENES PAGES */

/* Efecto de imagenes */
.img-fluid {
    -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
}

/* config logo pie de pagina */

.logo-pie {
    width: 200px;
    height: auto;
}