@import '../base/mapa';
@import '../base/extend';


/* SECTION PIRNCIPAL - INDEX */


.index-items {
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    text-align: left;
    width: auto;
    border-radius: 10px;

    .texto-items {
        padding-top: 20px;
        padding: 5px;
        display: block;
        text-align: left;
        color: map-get($textogeneral, color);
        letter-spacing: map-get($textogeneral, letter-spacing);
        text-decoration: none;
        @extend %center;
    }
}

/*******  SECTIONS PRODUCTOS *******/

/*******  SECTIONS PRODUCTOS *******/

/* grid 3x3 para producto */
.foto-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 1rem;

}

.contenido-items {
    text-align: center;
    width: auto;
    height: 500px;
    padding: 1rem;
    letter-spacing: 1px;
    font-size: 15px;
    -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.51);
}

.img-thumbnail {
    height: 70%;
    width: auto;
}


/* TEXTO GENERAL DE LAS PAGES */
.texto-items {
    padding-top: 20px;
    display: block;
    text-align: left;
    color: #7e7474;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-align: center;

}

/* Sección principal pages con productos - texto de cada prodcuto*/
.texto-banner {
    padding-top: 20px;
    display: block;
    text-align: left;
    color: #7e7474;
    letter-spacing: 0.3rem;
    text-decoration: none;
    text-align: center;
    position: relative;

}

/* TEXTO SECCIONES TEXTO AMPLIO  */
.texto-largo {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    text-align: center;
    color: #7e7474;
    letter-spacing: 0.2rem;
    text-decoration: none;
    font-size: 2rem;
}

.carousel-inner {
    height: 30rem;
    border-radius: 20px;
    align-content: center;
    background-color: black;
    box-shadow: 2px 3px 17px black;

}


