/* SECTION PIRNCIPAL - INDEX */

.index-items {
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    text-align: left;
    width: auto;
    border-radius: 10px;

    .texto-items {
        padding-top: 20px;
        padding: 5px;
        display: block;
        text-align: left;
        color: #7e7474;
        letter-spacing: 0.2rem;
        text-decoration: none;
        text-align: center;
    }
}