@import '../base/mapa';
@import '../base/extend';


/* SECTION PIRNCIPAL - INDEX */


.index-items {
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    text-align: left;
    width: auto;
    border-radius: 10px;

    .texto-items {
        padding-top: 20px;
        padding: 5px;
        display: block;
        text-align: left;
        color: map-get($textogeneral, color);
        letter-spacing: map-get($textogeneral, letter-spacing);
        text-decoration: none;
        @extend %center;
    }
}